/* Timeline Container */
.timeline-container {
    width: 1182px;
    height: 841px;
    background-color: transparent; 
    border-radius: 11px;
    position: absolute;
    top: calc(92px + 43px + 78px + 19px); 
    left: 50%;
    transform: translateX(-50%); /* Centers the container */
}

/* Timeline Chart Box */
.timeline-chart-box {
    width: 1182px;
    height: 700px;
    border-radius: 11px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers the container */
    background-color: rgba(78, 78, 78, 0.25); 
    padding: 40px;
    display: flex;
    justify-content: center;
    
}

