/* Timeline Container */
.timeline-container {
    width: 1182px;
    height: 841px;
    background-color: transparent; 
    border-radius: 11px;
    position: absolute;
    top: calc(92px + 43px + 78px + 19px); 
    left: 50%;
    transform: translateX(-50%); /* Centers the container */
}

/* Timeline Chart Box */
.timeline-chart-box {
    width: 648px;
    height: 841px;
    background-color: rgba(78, 78, 78, 0.25); 
    border-radius: 11px;
    position: absolute;
    top: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Placeholder Text Styling */
.graph-placeholder-text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}
/* Encounter CR Graph Box */
.encounter-cr-chart-box {
    width: 515px;
    height: 406px;
    background-color: rgba(78, 78, 78, 0.25); 
    border-radius: 11px;
    position: absolute;
    top: 0; 
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Encounter Stat Graph Box */
.encounter-stat-chart-box {
    width: 515px;
    height: 417px;
    background-color: rgba(78, 78, 78, 0.25); 
    border-radius: 11px;
    position: absolute;
    bottom: 0; 
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
