.attribute-radar-graph-wrapper {
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: center;  /* Vertically center */
    justify-content: center;  /* Horizontally center */
  }
  