.navbar {
    width: 100%;
    height: 92px; 
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 1); 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-bottom: 4px solid rgba(177, 93, 93, 1); 
}

.navbar-icons {
    display: flex;
    gap: 40px; 
}

/* Each icon container */
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;  
    height: 56px; 
    cursor: pointer;
    transition: transform 0.2s;
    border: none; 
}

/* Simple hover effect */
.nav-icon:hover {
    transform: scale(1.1);
}

/* Active (current page) highlighting */
.nav-icon.active {
    background-color: rgba(177, 93, 93, 0.57); 
    border-radius: 14px; 
}

.nav-icon.active img {
    border-bottom: none;
}
